* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #cdc6ae;
}
h2 {
  text-align: center;
  margin-bottom: 1rem;
}
.container {
  background-color: #a3b4a2;
  padding: 2rem;
  border-radius: 1rem;
  min-height: 45vh;
  width: 40vh;
}

form {
  margin: 2rem 0 1rem 0;
}

form select,
button,
input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 0.5rem;
}

form input {
  margin-top: 0.5rem;
  border: 1px solid lightgray;
  font-size: 1.25rem;
  height: 2.5rem;
  padding-left: 0.5rem;
  background-color: #a3b4a2;
}

.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.dropdown i {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.select-container img {
  max-width: 2rem;
}

.select-container {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  border-radius: 0.5rem;
  border: 1px solid lightgray;
  background-color: #38686a;
}

.select-container select {
  font-size: 1rem;
  width: 5rem;
  margin-left: 0.5rem;
  background-color: #cdc6ae;
}

.msg {
  margin: 2rem 0 2rem 0;
  text-align: center;
  /* font-weight: bold; */
  font-size: 1.25rem;
}

form button {
  height: 3rem;
  background-color: #187795;
  color: #fff;
  font-size: 1.15rem;
  cursor: pointer;
}
